.card-body {
    padding: 0;
}

.charts-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-aligns the items horizontally */
    width: 100%;
}

#chart-area, #chart-bar {
    width: 100%; /* Adjust the width if needed */
    max-width: 900px; /* Set a max-width to prevent charts from stretching too much */
    margin: 15px 0; /* Add some space between charts */
}
#fullscreen-icon {
    font-size: 24px;
    cursor: pointer;
    color: #96a0b5;
    padding: 10px;
    border-radius: 5px;
    user-select: none;
}
